.dir{
    direction: rtl;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.Card-Container{
    @apply flex flex-col gap-2 rounded mb-3;
     transition: transform 0.2s, box-shadow 0.2s;
    }
    
    .Card-Container:hover {
        @apply shadow-lg;
        transform: scale(1.03);
    }
.heart{
    @apply text-gray-500 text-3xl cursor-pointer;
}


span{
    @apply font-bold underline text-lg
}

@media screen and (max-width: 768px) {
    .Card-Container:hover{    
transform: none;
}}