.anchor {
    @apply  text-base font-medium text-base md:text-2xl;
}

.flexi {
    @apply flex items-end justify-between gap-5 p-3  ;
}
.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .flexi {
        display: none;
        ;
    }
    .menu {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height:50px;  
    }
    .icon{
        cursor: pointer;
        margin-right: 10px;
       
    }
    .menu-items{
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px;
border-radius: 5px;
text-align: left;
transition: 1.5s;
    }
    
}